<!--<h1 id="meu-id">VERMELHO</h1>-->
<!--<h1 class="minha-classe">AZUL</h1>-->
<!--<h2>VERDE</h2>-->
<h1><%= @user_name %></h1>
<div id="abc">
  <%= @list %><br />
  <%= @my_hash %>
</div>
<% if @number >= 10 %>
  <h2> Número é maior ou igual que 10</h2>
<% else %>
  <h2> Número é menor que 10</h2>
<% end %>



<!--<button class="b">Clique aqui</button>-->